<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Created</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Hero name</th>
        <th>Real name</th>
        <th>Creation year</th>
        <th>City</th>
        <th>Superpowers</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${superhero.heroName}"/>
        <td th:text="${superhero.realName}"/>
        <td th:text="${superhero.creationYear}"/>
        <td th:text="${superhero.city}"/>
        <td th:text="${superhero.powerList}"/>
    </tr>
    </tbody>
</table>

<a href="/superheroes">Go back</a>

</body>
</html>