<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f16ddf284a.js" crossorigin="anonymous"></script>
    <title>Powers</title>
</head>

<body>

<h1 class="powers_h1"> <span th:text="${name}"/>'s powers</h1>

    <table class="powers">
        <tr th:each="power: ${powers}">
            <td th:text="${power}"></td>
        </tr>
        <a href="/superheroes"><i class="fa-solid fa-circle-left"></i></a>
    </table>

</body>
</html>