<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Superheroes</title>
</head>
<body>

<h1 class="list_h1">Superhero List</h1>

<table>
    <thead>
    <tr>
        <th>Hero name</th>
        <th>Real name</th>
        <th>Creation year</th>
        <th>Superpowers</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="superheroList: ${superheroList}">
        <td th:text="${superheroList.heroName}"></td>
        <td th:text="${superheroList.realName}"></td>
        <td th:text="${superheroList.creationYear}"></td>
        <td>
            <a th:href="@{superheroes/powers/{heroId}(heroId=${superheroList.id})}">
                <button type="button">Powers</button>
            </a>
        </td>
        <td>
            <a th:href="@{/update/{id}(id=${superheroList.id})}">
                <button class="update" type="button">Update hero</button>
            </a>
        </td>

        <td>
            <a th:href="@{/superheroes/slet/{heroId}(heroId=${superheroList.id})}" onclick="return confirm('Er du sikker?')">
                <button class="slet" type="button">Delete hero</button>
            </a>

        </td>
    </tr>
    </tbody>
</table>
        <a href="/register">
            <button type="button">Create a Superhero</button>
        </a>

</body>
</html>