<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Update Hero</title>
</head>
<body>
    <h1>Update your Hero</h1>

    <form action="/update"  method="post" th:object="${superhero}">
        <label>Hero Name:</label>
        <input type="text" th:field="${heroName}" /><br/>

        <label>Real Name:</label>
        <input type="text" th:field="${realName}" /><br/>

        <label>Creation Year:</label>
        <input type="text" th:field="${creationYear}" /><br/>

        <label>City:</label>
        <select th:field="${city}">
            <option th:each="cities : ${listCities}" th:value="${cities}" th:text="${cities}" />
        </select>

        <label>Superpowers:</label>
        <div th:each="power: ${listSuperPowers}">
            <input type="checkbox" th:field="${powerList}" th:value="${power}" th:text="${power}">
        </div>

        <br/>

        <button type="submit">Update</button>
        <a href="/superheroes">Go back</a>
    </form>
</body>
</html>